/* profile screen */

ul.my-account-nav li a {
    font-size: 14px;
    line-height: 34px;
    color: black;
}
li.sub-nav-title {
    font-size: 16px;
}

.my-profile label input[type="checkbox"] {
    height: auto;
}

.enable-auth-checkbox {
    margin: 30px 0 10px;
}

.enable-auth-checkbox span {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
}

.enable-auth-checkbox input[type="checkbox"] {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.enable-auth-checkbox input[type="checkbox"]:checked {
    background-color: orangered !important;
}

.verify-traveler .info-text {
    color: #e78016;
}

.info-text.text-error {
    color: red;
}
.error-text {
    margin-top: -10px;
    margin-bottom: 15px;
    color: #ff0000;
}
.info-text {
    color: red;
    font-size: 14px;
    margin: 0;
}

#confirmationModal.modal {
    background: rgba(0, 0, 0, 0.3);
}
#confirmationModal.modal .btn-secondary {
    border-radius: 9px;
}
#confirmationModal.modal .close {
    position: absolute;
    /* background: red; */
    top: 6%;
    right: 2%;
}
#confirmationModal.modal .close span {
    font-size: 30px;
}
