.caption-text {
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 5px;
}
.error-text {
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 10px;
    color: red;
}
.add-property {
    margin-top: 35px;
}
.incremental-counter {
    width: 300px;
    margin: 5px auto;
}
.counter-inputs {
    margin: 5px auto;
}

.counter-inputs a {
    margin: 0 5px;
}

/* add calendar css */

.add-calendar {
    margin-top: 35px;
}
.add-calendar #wrap1 {
    max-width: 600px;
    margin: 0 auto;
}
.add-calendar #wrap1 .title {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 20px 0 30px;
}
.add-calendar #wrap2 {
    padding-bottom: 100px;
}

.property-image .sub-price a {
    display: block;
    font-size: 19px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.property-image p img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
}

.property-pricing {
    margin-top: 40px;
}
.comments {
    margin: -10px 0 0 0;
}
.td {
    padding: 10px;
}

#map_container{
    position: relative;
}
#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}

#contact_host{
    color: #e78016;
    text-decoration: underline;
    cursor: pointer;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.yelp_img{
    max-width: 100%;
    width: 60%;
}
.pay-caption {
    text-align: center;
    font-size: 17px;
    color: black;
    font-weight: 500;
    margin: 25px 0 10px;
}
div::-webkit-scrollbar {
    width: 12px;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.property-title h2 {
    font-size: 26px !important;
}

@media only screen and (min-width: 990px) {
    /*.property-image p {*/
    /*    text-align: right;*/
    /*}*/
    .property-pricing {
        margin-top: 40px;
    }
    /*.property-image .sub-price a {*/
    /*    text-align: right;*/
    /*}*/
    .show-990{
        display: none;
    }
}
@media only screen and (max-width: 989px) {

    .show-990{
        display: show;
    }
    .hide-990{
        display: none;
    }
    .property-image p {
        text-align: center;
    }
    .property-pricing {
        margin-top: 40px;
    }
    .property-image .sub-price a {
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {
    .show-990{
        display: none !important;
    }
    .hide-990{
        display: show !important;
    }
}
