option:disabled {
    background-color: #c2c2c2;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
img[data-enlargable],
canvas[data-enlargable] {
    cursor: zoom-in;
}
.pdf-wrapper {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid black;
}
.modal-buttons-wrapper {
    position: absolute;
    top: 5px;
    right: 15px;
}
.modal-buttons-wrapper .button-download img {
    height: 40px;
}
.modal-close-x {
    color: #ffffff;
    font-size: 26px;
    margin-left: 5px;
    cursor: pointer;
}

.verification-response {
    color: #ffffff !important;
}

.field-label {
    margin-right: 5px;
}

.heic-image {
    display: none;
}
.file-loading {
    font-size: 16px;
    display: none;
}
.heic-image.file-converted {
    display: block;
}

.mb-15 {
    margin-bottom: 15px;
}

.px-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.card-body-padding {
    padding: 1.5rem 1.5rem;
    padding-top: 0.5rem;
}
